<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
    <style>
        h1 {
            background-color: white;
            color: black;
            font-size: 32px;
            padding: 30px;
            max-height: 30px;
            overflow: hidden;
        }
    </style>
</head>
<body>
<header>
    <h1>Branch LIST</h1>
</header>
<div class="container">
    <h1>Oops, something gone wrong!</h1>
    <a th:href="@{/branch/index}">Return to branch list</a>
</div>
<footer>
    <div class="footer">
        <p>Copyright Copyright JMP &copy; - 2024</p>
    </div>
</footer>
</body>
</html>